main {
    position: relative;

    #hero {

        @include section;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        #hero-col {

            @include flex($direction: column, $align: flex-start);

            width: 40%;
            height: calc(70vw - 20vw);

            #scroll-container {
                
                @include flex($justify: flex-start, $gap: 15px);

                width: 100%;
                padding-top: 100px;
                text-decoration: underline;

                i {

                    @include floating-circle;

                    text-decoration: none;
                }
            }
        }

        @import './scroller';
    }
}