#hero-img {

    @include overlay($light, 0.1);
    @include circle(70vw);

    z-index: 1;
    position: absolute;
    top: -20vw;
    right: -15%;
    box-shadow: rgba($accent, 0.2) 100px 0px 0 100px;

    .img-track {

        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;

        img {

            @include circle(100%);

            position: absolute;
            width: 100%;
            opacity: 0;

            transition: {
                property: opacity;
                duration: 0.5s;
            }

            &.selected {
                opacity: 1;
            }
        }
    }

    .img-counter {

        @include floating-circle($size: 100px);
        @include absolute($bottom: 10%, $left: 10%);

        background-color: $light;
    }

    .img-scroll-chips {
        
        @include absolute($bottom: calc(10% - 70px), $left: calc(10% + 75px));
        @include flex($gap: 20px);

        transform: rotate(45deg);

        .img-scroller {

            $accent: darken($accent, 30);

            @include circle(15px);

            border: {
                color: $accent;
                width: 2px;
                style: solid;
                radius: 50%;
            }
            transition: {
                property: background-color;
                duration: 0.2;
            }
            cursor: pointer;

            &.selected {
                background-color: $accent;
            }
        }
    }
}