@import '../breakpoints';
@import '../colors';
@import '../mixins';
@import '../fonts';

html {
    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: 0;

        @import '../header/header';

        @import '../main/main';

        @import '../footer/footer';
    }
}