header {
    @include section;
    @include flex(row, space-between, stretch);
    @include fixed($top: 0, $right: 0, $left: 0);

    z-index: 2;

    #logo-section {

        @include flex;

        gap: 15px;

        img {
            height: 50px;
        }

        span {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    nav {
        
        ul {

            @include flex;

            gap: 50px;
            text-transform: uppercase;
        
            a {
                font-weight: 600;

                &.active {
                    color: $accent;
                    position: relative;
            
                    &::after {
                        
                        @include absolute($bottom: 0, $left: 0, $right: 0);

                        transition: {
                            property: bottom;
                            duration: 0.2s;
                            timing-function: ease-in-out;
                        }
                        content: '';
                        color: $accent;
                        height: 2px;
                        background-color: $accent;
                    }

                    &:hover::after {

                        bottom: -5px;
                    }
                }
            }
        }
    }
}