@mixin btn($background-color: $accent, $color: $light) {
    background-color: $background-color;
    color: $color;

    border-radius: 13px;
    font-size: 1rem;
    padding: 20px 50px;
}

@mixin section($margin: 20px) {
    max-width: 1400px;
    width: calc(100% - ($margin * 2));
    margin: calc($margin + 20px) auto;
}

@mixin circle($size: 50px) {
    width: $size;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

@mixin overlay($color: $light, $opacity: 0.5) {
    position: relative;

    .overlay {
        inset: 0px;
        background-color: rgba($color, $opacity);
        position: absolute;
        z-index: 3;
    }
}